<div class="bg-blue-500 items-center justify-center bg-cover rounded-lg p-8 text-center text-white">
    <img class="mx-auto rounded-md" src="{{imageSrc}}" alt="{{title}}" />

    <h1 class="font-bold my-4 text-4xl">"{{title}}"</h1>

    <p class="font-light">
      Découvrez une expérience de lecture exceptionnelle sur notre plateforme dédiée aux ebooks. Plongez dans des contenus riches et variés, offrant une immersion totale dans des univers captivants.<br>
      Profitez d'une navigation 
      <span class="font-medium text-yellow-500">fluide, légère et intuitive</span>
      , conçue spécialement pour rendre votre parcours de lecture aussi agréable que professionnel. Bienvenue dans un espace où la lourdeur du contenu s'harmonise avec la légèreté de l'interaction, vous offrant ainsi une expérience de lecture unique.
    </p>
</div>