

<!-- Task List -->
<div class="container mt-5">
    <h2>Task List</h2>
    <button class="btn btn-primary mb-3" (click)="showForms()">{{!addButton ? 'Add Task' : 'Close Form'}}</button>

    <!-- Add Task Form -->
    <div class="add-item-container" *ngIf="addButton">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Task Title" [(ngModel)]="newItem.title">
            <div class="input-group-append">
                <button class="btn btn-success" type="button" (click)="addItem()">Add</button>
            </div>
        </div>
    </div>

    <!-- Task Cards -->
    <div class="row">
        <div class="col-md-4" *ngFor="let task of listtask">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ task.title }}</h5>
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-danger" (click)="deleteItem(task)">Delete</button>
                        <button class="btn btn-primary" (click)="toggleEditMode(task)">Edit</button>
                    </div>
                    <div class="mt-3" *ngIf="currentTutorial?.id === task.id">
                        <input type="text" class="form-control" [(ngModel)]="updatedTitle" placeholder="Updated Title">
                        <button class="btn btn-success mt-2"
                            (click)="updateTutorial(task, updatedTitle)">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>