<div class="{{spacingY}}">
    <div class="bg-white border border-gray-200 hello mb-4 px-4 py-2 rounded-md shadow-md">
        Bonne lecture 👋
    </div>

    <div class="bg-gradient-to-br from-blue-700 p-16 overflow-auto to-pink-500 rounded-lg">
        <div class="container max-w-5xl mx-auto px-4">
            <h1 class="mb-4 text-white w-full text-3xl font-bold sm:text-4xl md:text-5xl">
                La meilleure expérience de lecture <br />
                <span class="text-yellow-400">sur la planète.</span>
            </h1>

            <h3 class="text-gray-300 md:text-xl">
                Explorez, lisez & découvrez des livres électroniques <br />
                <strong class="text-white">avec une installation rapide et une sécurité renforcée</strong>
                <br />par rapport même aux environnements locaux.
            </h3>
        </div>
    </div>
</div>

<div class="{{spacingY}} flex flex-col mx-auto space-y-12 max-w-7xl xl:px-12">
    <div>
        <h2 class="w-full text-3xl font-bold text-center sm:text-4xl md:text-5xl">Explorez des Mondes Inédits</h2>
        <p class="w-full py-8 mx-auto -mt-2 text-lg text-center text-gray-700 intro sm:max-w-3xl">Découvrez notre collection exclusive de livres électroniques. Des histoires captivantes et des designs uniques vous attendent pour enrichir votre expérience de lecture.</p>
    </div>

    <div class="flex flex-col mb-16 sm:flex-row">
        <div class="flex items-center mb-8 sm:w-1/2 md:w-5/12 sm:order-last">
            <img class="rounded-lg shadow-xl" src="../../../assets/images/book-2.gif" alt="Image de livre électronique 1">
        </div>
        <div class="flex flex-col justify-center mt-5 mb-8 md:mt-0 sm:w-1/2 md:w-7/12 sm:pr-16">
            <p class="mb-2 text-sm font-semibold leading-none text-left text-indigo-600 uppercase">Découvrez de nouveaux mondes</p>
            <h3 class="font-semibold mt-2 text-2xl sm:text-left md:text-4xl">Facilitez votre exploration</h3>
            <p class="mt-5 text-lg text-gray-700 text md:text-left">Naviguez à travers une collection diversifiée de livres électroniques. Notre interface intuitive vous permettra de plonger facilement dans des aventures inédites.</p>
        </div>
    </div>

    <div class="flex flex-col mb-16 sm:flex-row">
        <div class="flex items-center mb-8 sm:w-1/2 md:w-5/12">
            <img class="rounded-lg shadow-xl" src="../../../assets/images/book-1.gif" alt="Image de livre électronique 2">
        </div>
        <div class="flex flex-col justify-center mt-5 mb-8 md:mt-0 sm:w-1/2 md:w-7/12 sm:pl-16">
            <p class="mb-2 text-sm font-semibold leading-none text-left text-indigo-600 uppercase">Exploration optimisée</p>
            <h3 class="font-semibold mt-2 text-2xl sm:text-left md:text-4xl">Pour des découvertes captivantes</h3>
            <p class="mt-5 text-lg text-gray-700 text md:text-left">Optimisés pour offrir une expérience immersive, nos livres électroniques vous garantissent des découvertes captivantes. Plongez dans des mondes uniques et fascinants.</p>
        </div>
    </div>

    <div class="flex flex-col sm:flex-row">
        <div class="flex items-center mb-8 sm:w-1/2 md:w-5/12 sm:order-last">
            <img class="rounded-lg shadow-xl" src="../../../assets/images/book-3.gif" alt="Image de livre électronique 3">
        </div>
        <div class="flex flex-col justify-center mt-5 mb-8 md:mt-0 sm:w-1/2 md:w-7/12 sm:pr-16">
            <p class="mb-2 text-sm font-semibold leading-none text-left text-indigo-600 uppercase">Personnalisation facile</p>
            <h3 class="font-semibold mt-2 text-2xl sm:text-left md:text-4xl">Rendez-le unique</h3>
            <p class="mt-5 text-lg text-gray-700 text md:text-left">Tous nos livres électroniques sont entièrement personnalisables. Exprimez votre style en explorant des histoires uniques et en partageant des moments spéciaux avec nos designs flexibles.</p>
        </div>
    </div>
</div>

<div class="{{spacingY}}">
    <div class="bg-black p-16 overflow-auto rounded-lg">
        <div class="container max-w-5xl mx-auto px-4">
            <h1 class="text-yellow-400 w-full text-3xl font-bold sm:text-4xl md:text-5xl">
                L'E-BiBLi
            </h1>

            <h3 class="text-gray-300 my-8 md:text-xl">
                Explorez, lisez & découvrez des livres électroniques <br />
                <strong class="text-white">avec une installation rapide et une sécurité renforcée</strong>
                <br />par rapport même aux environnements locaux.
            </h3>

            <a href="/books" class="bg-transparent hover:bg-yellow-300 text-yellow-300 hover:text-black rounded shadow hover:shadow-lg py-2 px-4 border border-yellow-300 hover:border-transparent">
                Découvrir
            </a>
        </div>
    </div>
</div>


<div class="{{spacingY}}">
    <h2 class="w-full text-3xl font-bold sm:text-4xl md:text-5xl">Powered By</h2>

    <div class="text-white relative">
        <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-1 sm:gap-5 uppercase">
          <div class="group flex items-center bg-indigo-700 bg-opacity-40 shadow-xl gap-5 px-6 py-5 rounded-lg ring-2 ring-offset-2 ring-offset-blue-800 ring-cyan-700 mt-5">
            <img class="w-8" src="data:image/svg+xml,%3C?xml version='1.0' encoding='utf-8'?%3E %3C!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E %3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 80 80' style='enable-background:new 0 0 80 80;' xml:space='preserve'%3E %3Cstyle type='text/css'%3E .st0%7Bfill:%23DD0031;%7D .st1%7Bfill:%23C3002F;%7D .st2%7Bfill:%23FFFFFF;%7D %3C/style%3E %3Cg%3E %3Cpolygon class='st0' points='40,0 40,0 40,0 2.8,13.3 8.4,62.5 40,80 40,80 40,80 71.6,62.5 77.2,13.3 '/%3E %3Cpolygon class='st1' points='40,0 40,8.9 40,8.8 40,49.4 40,49.4 40,80 40,80 71.6,62.5 77.2,13.3 '/%3E %3Cpath class='st2' d='M40,8.8L16.7,61l0,0h8.7l0,0l4.7-11.7h19.8L54.5,61l0,0h8.7l0,0L40,8.8L40,8.8L40,8.8L40,8.8L40,8.8z M46.8,42.2H33.2L40,25.8L46.8,42.2z'/%3E %3C/g%3E %3C/svg%3E" alt="" />
            <div>
              <span>Angular</span>
              <span class="text-xs text-white block">Typescript</span>
            </div>
            <div>
              <i class="fa fa-chevron-right opacity-0 group-hover:opacity-100 transform -translate-x-1 group-hover:translate-x-0 block transition"></i>
            </div>
          </div>
  
          <div class="group flex items-center bg-indigo-700 bg-opacity-40 shadow-xl gap-5 px-6 py-5 rounded-lg ring-2 ring-offset-2 ring-offset-blue-800 ring-cyan-700 mt-5">
            <img class="w-8" src="https://static-00.iconduck.com/assets.00/tailwind-css-icon-2048x1229-u8dzt4uh.png" alt="" />
            <div>
              <span>Tailwind</span>
              <span class="text-xs text-white block">CSS</span>
            </div>
            <div>
              <i class="fa fa-chevron-right opacity-0 group-hover:opacity-100 transform -translate-x-1 group-hover:translate-x-0 block transition"></i>
            </div>
          </div>

          <div class="group flex items-center bg-indigo-700 bg-opacity-40 shadow-xl gap-5 px-6 py-5 rounded-lg ring-2 ring-offset-2 ring-offset-blue-800 ring-cyan-700 mt-5">
            <img class="w-8" src="https://cdn.freebiesupply.com/logos/thumbs/2x/nodejs-1-logo.png" alt="" />
            <div>
              <span>Node.js</span>
              <span class="text-xs text-white block">Javascript</span>
            </div>
            <div>
              <i class="fa fa-chevron-right opacity-0 group-hover:opacity-100 transform -translate-x-1 group-hover:translate-x-0 block transition"></i>
            </div>
          </div>
        </div>
      </div>
</div>
